{% load static %}
<!DOCTYPE html>
<html>  
    <head>
        <title>
            This is login entry page
        </title>
        <meta charset="UTF-8">
        <meta http-equiv="x-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>

        <div class="wrapper">
             <span class="bg-animate"></span>  
             <span class="bg-animate2"></span>  

        
          <div class="form-box login">
            <h2 class="animation" style="--i:1; --j:21">Login</h2>
         
              
                <div class="input-box animation" style="--i:1; --j:22">
                    <input type="text" required>
                    <label>UserName</label>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box animation" style="--i:2; --j:23">
                    <input type="password" required>
                    <label>Password</label>
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <!-- <button type="submit" class="btn animation" style="--i:3; --j:24">Login</button> -->
                <div class="logerg-link animation" style="--i:4; --j:25">
                    <p>Don't have an account ? <a href="#" class="register-link">Sing In</a></p>
                    
                </div>
            </form>


          </div>

          <div class="info-text login">
            <h2 class="animation" style="--i:0; --j:20"> Welcome Back</h2>
            <p class="animation" style="--i:1; --j:21">Hi this vishnu website</p>
          </div>

          <div class="form-box register">
            <h2 class="animation" style="--i:17; --j:0;">Sign Up</h2>
            <form action="{% url 'insert_data' %}" method="POST">
                {% csrf_token %}
              
                <div class="input-box animation" style="--i:18; --j:1;">
                    <input type="text" id="user_name" name="user_name" required>
                    <label>UserName</label>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box animation" style="--i:19; --j:2">
                    <input type="mail" id="Emails" name="Emails" required>
                    <label>Email</label>
                    <i class='bx bxl-gmail'></i>
                </div>
                <div class="input-box animation" style="--i:20; --j:3">
                    <input type="password" id="Password_use" name="Password_use" required>
                    <label>Password</label>
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <button type="submit" class="btn animation" style="--i:21; --j:4">Sing Up</button>
                </form>
                <div class="logerg-link animation" style="--i:22; --j:5">
                    <p>Already have an account ? <a href="#" class="login-link">Login</a></p>
                    
                </div>
          


          </div>
          <div class="info-text register">
            <h2 class="animation" style="--i:17; --j:0">Welcome Come</h2>
            <p class="animation" style="--i:18; --j:1">Hi this vishnu website</p>
          </div>
          
        </div>

        <script src="{% static 'js/Script.js' %}"></script>
    </body>

</html>
